### Intro to Pandas for Data Analysis /World Quant Housing in Brazil

In [ ]:
Introduction

This project is inspired by WorldQuant University's Applied Data Science Lab course. It is being hosted on DataWars with their permission. Please refer to their course for more details.
In this project, you'll work with a dataset of homes for sale in Brazil. You'll need to perform different Data Analysis tasks to discover if there are regional differences in the real estate market. Also, you will look at southern Brazil region to see if there is a relationship between home size and price, similar to what you saw with housing in some states in Mexico.

Let's get started!

In [32]:
# Import Matplotlib, pandas

import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
Import dataset

df1 = pd.read_csv("Brasile-real-estate-dataset.csv")
df1

In [ ]:
# Display the first 5 rows of the DataFrame
df1.head()

Preparing Data 
Activity 1. Load the CSV File into a DataFrameÂ¶

In [ ]:
df1.info()

In [ ]:
df1.describe().T

In [24]:
df1.shape

(10692, 13)

In [ ]:
df1.columns

In [31]:
df1.shape

(10692, 13)

In [ ]:
df1.isnull().sum

In [ ]:
Activity 2. Removing NaN Values from a DataFrame

In [28]:
df1.dropna(inplace=True)

In [29]:
df1.shape

(10692, 13)

###Activity 3. Creating Latitude and Longitude Columns from a Single Column

In [ ]:
# Write your code here 
df1 = pd.concat([df1, df1['lat-lon'].str.split(',', expand=True). rename(columns={0: 'lat', 1: 'lon'})], axis=1)

In [ ]:
df1['lat'] = pd.to_numeric(df1['lat'])
df1['lon'] = pd.to_numeric(df1['lon'])

In [ ]:
df1[['lat', 'lon']] = df1['lat-lon'].str.split(',', expand=True)

# Converting the 'lat' and 'lon' columns to numeric values.
df1['lat'] = pd.to_numeric(df1['lat'])
df1['lon'] = pd.to_numeric(df1['lon'])

Activity 4. Creating a 'State' Column from the 'place_with_parent_names' Column

In [ ]:
df1['state'] = df1 ["place_with_parent_names"].str.split ('|').str[2]

Activity 5. Transform the 'price_usd' Column to Float Data Type

In [ ]:
# Write your code here

# First, remove the dollar sign from the 'price_usd' column.
df1['price_usd'] = df1['price_usd'].str.replace('$', '')

# Next, remove `,` from the 'price_usd' column.
df1['price_usd'] = df1['price_usd'].str.replace(',', '')

# Converting the 'price_usd' column to numeric values.
# This is necessary because the column contains string values, and for further numerical operations, we need them as floats or integers.
df1['price_usd'] = pd.to_numeric(df1['price_usd'])

Activity 6. Remove Unwanted Columns from a DataFrame

Drop the "lat-lon" and "place_with_parent_names" columns, a crucial step for data cleaning and preparation, ensuring your dataset is optimized for analysis and visualization tasks.

In [ ]:
df1.drop(columns=["lat_lon","place_with_parent_names"],inplace=True)

In [ ]:
df1.drop(['lat-lon', 'place_with_parent_names'],axis=1,inplace=True)

In [ ]:
Activity 7. Load the CSV File into a DataFrame

In [ ]:
# Read the `brazil_housing_2.csv` file into a DataFrame called `df2`
# Read the `brazil_housing_2.csv` file into a DataFrame called `df2`
df2 = pd.read_csv("brazil_housing_2.csv")

# Display the first 5 rows of the DataFrame
df2.head()

In [ ]:
Activity 8. Create a USD Price Column from BRL Values

In [ ]:
# Converting the 'price_brl' column to USD using the historical exchange rate of 1 USD to 3.19 BRL.
df2['price_usd'] = df2['price_brl'] / 3.19

In [ ]:
Activity 9. Remove a Column and NaN Rows from a DataFrame

In [ ]:
# Write your code here
# Drop the 'price_brl' column from the DataFrame.
df2.drop(['price_brl'], axis=1, inplace=True)

# Drop NaN values from the DataFrame.
df2.dropna(inplace=True)

In [ ]:
Activity 10. Merge Two DataFrames into One

In [ ]:
# Concatenate the two DataFrames, df1 and df2, into a new DataFrame called df.
df = pd.concat([df1, df2])

# Display the first 5 rows of the new DataFrame.
df.head()

In [ ]:
Explore

In [ ]:
import plotly.express as px

fig = px.scatter_mapbox(
    df,
    lat="lat",
    lon="lon",
    center={"lat": -14.2, "lon": -51.9},  # Map will be centered on Brazil
    width=600,
    height=600,
    hover_data=["price_usd"],  # Display price when hovering mouse over house
)

fig.update_layout(mapbox_style="open-street-map")

fig.show()

In [ ]:
Activity 11. Creating Summary Statistics for Selected Columns

In [ ]:
# Generate summary statistics for the 'area_m2' and 'price_usd' columns.
summary_stats = df[['area_m2', 'price_usd']].describe()

# Display the summary statistics DataFrame.
summary_stats

In [ ]:
Activity 12. Visualizing the Distribution of Home Prices with a Histogram

In [ ]:
# Set the figure size for the plot.
fig, ax = plt.subplots(figsize=(10, 6))

# Create a histogram of the 'price_usd' column.
ax.hist(df['price_usd'])

# Add labels and title to the plot.
ax.set_xlabel('Price [USD]')
ax.set_ylabel('Frequency')
ax.set_title('Distribution of Home Prices')

In [ ]:
Activity 13. Visualizing the Distribution of Home Sizes with a Horizontal Boxplot

In [ ]:
# Set the figure size for the plot.
fig, ax = plt.subplots(figsize=(10, 6))

# Create a horizontal boxplot of the 'area_m2' column.
ax.boxplot(df['area_m2'], vert=False)

# Add labels and title to the plot.
ax.set_xlabel('Area [sq meters]')
ax.set_title('Distribution of Home Sizes')

In [ ]:
Activity 14. Grouping Data to Calculate Mean Home Prices by Region

Use the pandas groupby method to create a Series named mean_price_by_region, which represents the average home price in each region in Brazil, sorted from smallest to largest. Learn the process of aggregating data to uncover regional price trends, followed by sorting the results from the smallest to the largest mean price. This analysis is crucial for understanding geographical influences on property values and making informed decisions based on regional market conditions.

In [ ]:
# Group the data by the 'state' column and calculate the mean price for each region in Brazil.
mean_price_by_region = df.groupby("region")["price_usd"].mean().sort_values()

# Display the mean price by region.
mean_price_by_region

In [ ]:
Activity 15. Create a Bar Chart of Mean Home Prices by Region

In [ ]:
# Set the figure size for the plot.
fig, ax = plt.subplots(figsize=(10, 6))

# Create a bar chart of the mean home prices by region.
mean_price_by_region.plot(kind="bar",x="Region",y="Mean Price [USD]",title="Mean Home Price by Region",ax=ax)

In [ ]:
# Set the figure size for the plot.
fig, ax = plt.subplots(figsize=(10, 6))

# Create a bar chart of the mean home prices by region.
mean_price_by_region.plot(kind='bar', ax=ax)

# Add labels and title to the plot.
ax.set_xlabel('Region')
ax.set_ylabel('Mean Price [USD]')
ax.set_title('Mean Home Price by Region')

In [ ]:
Activity 16. Filtering Data by Region in a DataFrame

Extract all the homes located in the "South" region. You will create a new DataFrame named df_south containing only these homes. This activity will teach you how to apply conditional filtering in pandas, an essential skill for data analysis, allowing you to focus on specific segments of your data for more detailed examination.

In [ ]:
# Filter the data to include only homes located in the 'South' region.
df_south = df[df["region"]=="South"]

# Display the first 5 rows of the new DataFrame.
df_south.head()

Activity 17. Counting Properties by State in a Filtered DataFrame

Use DataFrame named df_south, which contains properties located in the "South" region. Your task is to use the value_counts method to count the number of properties present in each state within this region. The result will be stored in a Series named homes_by_state. Through this activity, you'll gain practical experience in data aggregation, a key technique in data analysis for summarizing and extracting insights from data.

In [ ]:
# Count the number of properties by state in the 'South' region.
homes_by_state = df_south['state'].value_counts()

# Display the number of properties by state.
homes_by_state

Activity 18. Visualizing Price vs. Area in the State with Most Properties

In this advanced data visualization activity, you will delve into create a scatter plot using Matplotlib. The focus of your analysis will be the properties in the "South" region, specifically within the state that has the largest number of properties in the DataFrame df_south. Your scatter plot will compare the price and area of these properties.

You will:

Identify the state in df_south with the highest number of properties.
Plot each property's price against its area on a scatter plot.
Label the x-axis as "Area [sq meters]" and the y-axis as "Price [USD]".
Title your chart {name of state}: Price vs. Area", replacing {name of state} with the actual state's name.
This activity is designed to enhance your skills in data filtering, aggregation, and visualization, showcasing the relationship between two important property attributes: price and area. By the end of this activity, you'll be better equipped to analyze and visualize data distributions and relationships within specific subsets of a larger dataset.

In [ ]:
# Identify the state with the most properties in the 'South' region.
state_with_most_properties = homes_by_state.idxmax()

# Filter the data to include only properties in the state with the most properties.
df_state = df_south[df_south['state'] == state_with_most_properties]

# Set the figure size for the plot.
fig, ax = plt.subplots(figsize=(10, 6))

# Create a scatter plot of price vs. area for the state with the most properties.
ax.scatter(df_state['area_m2'], df_state['price_usd'])

# Add labels and title to the plot.
ax.set_xlabel('Area [sq meters]')
ax.set_ylabel('Price [USD]')
ax.set_title(f'{state_with_most_properties}: Price vs. Area')

In [ ]:
Activity 19. Calculating Correlation Coefficients by State in the South Region

In this data analysis activity, you'll explore the relationship between two significant property attributes: area and price within the "South" region of Brazil. Your objective is to calculate the correlation coefficient between "area_m2" (area in square meters) and "price_usd" (price in USD) for each of the three states in this region. This statistical measure will help you understand the strength and direction of the relationship between these two variables in different geographical areas.

To accomplish this, you will create a dictionary named south_states_corr. The keys in this dictionary will be the names of the three states in the "South" region of Brazil, and the values will be the correlation coefficients representing the relationship between area and price within each state. This activity will not only improve your skills in data manipulation and analysis using Python but also provide insights into regional real estate trends in Brazil.

As an example, here's a dictionary with the states and correlation coefficients for the Southeast region. Since you're looking at a different region, the states and coefficients will be different, but the structure of the dictionary will be the same.

In [ ]:
# Create an empty dictionary to store the correlation coefficients for each state in the 'South' region.
south_states_corr = {}

# Iterate over the states in the 'South' region.
for state in df_south['state'].unique():
    # Filter the data to include only properties in the current state.
    df_state = df_south[df_south['state'] == state]

    # Calculate the correlation coefficient between 'area_m2' and 'price_usd' for the current state.
    corr = df_state['area_m2'].corr(df_state['price_usd'])

    # Add the state and its correlation coefficient to the dictionary.
    south_states_corr[state] = corr

# Display the correlation coefficients by state in the 'South' region.
south_states_corr